@import "@/styles/_variables.scss";

.header {
    height: 100vh;
    width: calc(200px + 10rem);
    position: fixed;
    z-index: 2;
    color: $header-text-color;
    border-right: 2px solid rgb(41, 50, 53);
    margin-left: 0;
    transition: ease-in 0.5s width;
    background: $header-bg-color;
    &.active {
      width: 0;
      transition: ease-out 0.2s width;
      border: none;
    }
  }
 
  .nav {
    font-size: calc(16px + 1rem);
    padding: 0;
    ul li svg {
      vertical-align: text-bottom;
    }
  }
  .title {
    line-height: 1.2;
    padding: 1em;
    position: relative;
    display: flex;
    justify-content: space-around;
    a{
      overflow: hidden;
    }
    &.active {
      position: static;
    }
    &__button{
      background: transparent;
      color: $header-text-color;
      position:relative;
      min-width:calc(32px + 2rem);
      border:none;
      display:inline-flex;
      transition: linear 300ms;
      top:3px;
      border-radius:10px;
      &.active{
        transform:translateX(-4rem);
      }
      &:hover{
        background-color: $header-link-bg-hovered;
        color: $header-text-color-hovered;
    }
    }
    &__icon {
      cursor: pointer;
      border-radius: 25%;
      position: absolute;
      left: 0px;
      width: 100%;
      min-height: 100%;
      top: 0px;
      transition: ease-in 0.5s transform, linear 300ms background;
      &.active {
        z-index: 3;
        transform: rotate(180deg);
        transition: ease-out 0.5s transform, linear 300ms color;
      }
      // &:hover ,&:focus{
      //   background-color: $header-link-bg-hovered;
      //   color: $header-text-color-interacted;
      // }
    }
  }
 
  .list {
    padding-left:3rem;
    padding-right: 2rem;
  }

  .nav ul li span {
    flex: 0 3 auto;
    margin-left: 1em;
    height: 1.5em;
    white-space: nowrap;
    vertical-align: middle;
  }
  
  @media only screen and (max-width: 468px) {
    .toggle__bar {
      position: static;
    }
  }