@import "@/styles/_variables.scss";

.article {
    color: $header-text-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 0;
    background: rgb(23, 36, 48);
    height: 100vh;
    width: 100%;
    align-items: center;
  }